@import 'colors.less';

.campaign {
    display: flex;
    flex-direction: column;
    align-items: center;

    .campaign-no-user {
        padding-top: 40px;

        font-size: 15px;

        color: @font-black;

        a {
            color: @dull-blue;

            font-weight: 700;
        }
    }

    .campaign-wrapper {
        width: 80%;
        min-width: 600px;
        max-width: 800px;

        .campaign-belts {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;

            .campaign-belts-title {
                margin-bottom: 40px;

                font-size: 25px;
                font-weight: 700;
            }

            .campaign-belts-row {
                display: flex;
                justify-content: space-around;

                width: 100%;

                .campaign-belt {

                    &.campaign-belt-completed, &.campaign-belt-next {
                        cursor: pointer;
                    }
                }
            }
        }

        .campaign-levels {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;

            .campaign-levels-title {
                margin-bottom: 40px;

                font-size: 25px;
                font-weight: 700;
            }

            .campaign-levels-row {
                display: flex;
                justify-content: space-around;

                width: 100%;

                .campaign-level {
                    cursor: pointer;
                }
            }
        }
    }
}
