@import 'colors.less';

.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    .game-content {
        display: flex;
        justify-content: space-around;

        .game-meta {
            width: 200px;
            min-width: 200px;

            .game-meta-section {
                margin-bottom: 20px;

                &.game-ready-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    height: 80px;
                }

                .game-ready-button {
                    .light-green-button;

                    width: 100%;
                    height: 40px;

                    font-size: 15px;

                    &:hover {
                        cursor: default;
                    }

                    &.clickable:hover {
                        cursor: pointer;
                    }
                }

                .game-cancel-button {
                    margin-top: 10px;

                    color: @font-light-grey;

                    font-size: 13px;

                    cursor: pointer;
                }

                .game-id {
                    padding-top: 20px;
                }

                .game-friend-link {
                    display: flex;

                    cursor: pointer;

                    .game-friend-link-text {
                        margin-right: 10px;

                        a {
                            font-weight: 700;
                        }
                    }

                    .game-friend-link-icon {
                        color: #5b91c6;
                    }
                }
            }
        }
    }

    .game-portrait-warning {
        margin-top: 40px;

        color: red;

        font-size: 25px;
        font-weight: 700;

        text-align: center;
    }
}

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    background: rgba(0, 0, 0, 50%);

    &--after-open {
        opacity: 1;
    }

    &--before-close {
        transition: opacity 200ms ease-in-out;
        opacity: 0;
    }
}

.game-modal {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);

    padding: 10px;

    color: @font-black;
    background-color: @beige;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;

    font-size: 18px;

    &:focus {
        outline: none;
    }

    .game-ready {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        padding-bottom: 30px;

        width: 100%;
        height: 100%;

        .game-ready-text {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 40px 0px;

            .game-ready-text-speed {
                margin-bottom: 10px;

                color: @font-light-grey;

                font-size: 15px;
            }

            .game-ready-text-players {
                display: flex;
                align-items: center;

                .game-ready-text-vs-player {
                    display: flex;
                    align-items: center;

                    padding: 5px;

                    .game-ready-text-vs {
                        margin-right: 10px;
                    }
                }
            }
        }

        .game-friend-link {
            display: flex;

            margin: 20px 0px;

            cursor: pointer;

            .game-friend-link-text {

                a {
                    font-weight: 700;
                }
            }

            .game-friend-link-icon {
                margin-left: 10px;

                color: @dull-blue;
            }
        }

        .game-invite {
            display: flex;

            margin: 20px 0px;

            input {
                width: 250px;

                font-size: 18px;
                font-family: 'Karla', sans-serif;
            }

            .game-invite-submit {
                margin-left: 10px;
                margin-top: 5px;

                font-size: 18px;

                cursor: pointer;
            }
        }

        .game-ready-button {
            .light-green-button;

            width: 200px;
            height: 40px;

            margin: 20px 0px;

            font-size: 15px;

            &:hover {
                cursor: default;
            }

            &.clickable:hover {
                cursor: pointer;
            }
        }
    }

    .game-finished {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        padding-bottom: 30px;

        width: 100%;
        height: 100%;

        .game-finished-text {
            height: 80px;

            margin: 20px 0px;

            line-height: 80px;
        }

        .game-finished-button-again {
            .light-green-button;

            width: 120px;
            height: 40px;

            margin: 20px 0px;

            margin-bottom: 20px;

            font-size: 15px;

            cursor: pointer;
        }
    }

    .game-cancel-button {
        position: absolute;
        bottom: 5px;
        left: 10px;

        color: @font-light-grey;

        font-size: 13px;

        cursor: pointer;
    }
}
